* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-orange: orangered;
}
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  /* background-color: red; */
}
.form {
  background-color: #8888;
  margin: 50px auto;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
}
.form input {
  outline: none;
  border: none;
  padding: .5rem;
  border-radius: .5rem;
}
.form .submit {
  background-color: var(--main-orange);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.list-parent {
  background-color: #88888888;
  display: none;
  flex-flow: column nowrap;
  width: fit-content;
  margin: auto;
  padding: 1rem;
  border-radius: .9rem;
  gap: 1rem;
  position: relative;
}
.list-parent .list {
  background-color: white;
  width: 16rem;
  padding: .3rem;
  border-radius: .4rem;
  display: flex;
  justify-content: space-between;
}
.list-parent .list .remove-ele {
  padding: .25rem;
  font-size: .7rem;
  font-weight: bolder;
  color: white;
  background-color: #ee0702;
  border-radius: .2rem;
  cursor: pointer;
}

.clearBtn {
  display: block;
  width: fit-content;
  background-color: var(--main-orange);
  color: white;
  padding:.3rem;
  margin: auto;
  border: none;
  position: absolute;
  right: 0;
  bottom: -28px;
  border-radius: .3rem;
  font-size: 1rem;
  cursor: pointer;
}

::placeholder {
  text-transform: uppercase;
}

/* START prompt work */
.prompt {
  background-color: white;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%);
  box-shadow: 1px 1px 100px 1000px #777777aa;
  display: none;
  flex-flow: column;
  padding: 1rem;
}
.prompt p {
  color: black;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
}
.prompt .prompt-input {
  padding: .3rem .5rem;
  border-radius: .5rem;
  border: .05rem solid #777;
  outline: none;
  margin-top: 1rem;
}
.prompt .buttons {
  align-self: flex-end;
  margin-top: .7rem;
}
.prompt .buttons input {
  font-size: .95rem;
  padding: .2rem;
  outline: none;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
}
.prompt .buttons input.confirm {
  font-weight: bold;
  background-color: #1313e7;
  color: white;
}
